.greekGodPage {
  display: flex;
  .godPickFrame {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .godPick {
    position: sticky;
    overflow: scroll;
    width: 36vw;
    height: 80vh;
    div {
      border: 2px solid black;
      width: 35vw;
      font-size: 20pt;
    }
  }
}
